* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #f3f3f3;
    --color-secondary: #1d1d1d;
    --color-accent: #00673a;
}

body {
    background-color: var(--color-primary);
    height: calc(100% - 5px);
    width: 100%;
    border-bottom: var(--color-accent) solid 5px;
    position: absolute;
}
a {
    all: unset;
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: unset;
}
img {
    opacity: 0;
    transition: opacity 500ms, border-radius 500ms, object-position 500ms;
}

.app_page{
    display: none;
    height: calc(100% - 30px);
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    opacity: 0;
    transition: opacity 1500ms;
    overflow: scroll;
}
.page_active {
    display: flex;
    opacity: 1;
}
.app_header {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: var(--color-secondary);
    font-size: 3vw;
}
.app_subHeader {
    font-size: 2vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.app_des {
    color: var(--color-accent);
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    align-self: center;
    font-size: 1.25vw;
}

.app_text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: var(--color-secondary);
}
.app_subsectionButton {
    font-size: 1.75vw;
    font-family: 'Roboto Slab';
    cursor: pointer;
}

.app_subsectionContent {

}

.app_list {
    /* padding: 10px; */
    list-style: none;
}

.app_list li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    margin-bottom: 5px;
}

.app_fullSize_img {
    width: auto;
    height: auto;
}
.app_loaded_img, .app_inline_img{
    opacity: 1;
}

.app_inline_img {
    height: .8em;
    width: .8em;
    margin: 0 15px 0 0;
}

.mp_listLink {
    cursor: pointer;
}

.app_back:hover {
    cursor: pointer;
}
.app_back:before {
    content: "❮";
    margin-right: 15px;
    opacity: 0;
    transition: opacity 100ms;
}
.app_back:hover:before{
    opacity: 1;
}

.app_subsectionButton:after{
    content: "❯";
    margin-right: 15px;
    opacity: 0;
    transition: opacity 100ms;
    transition: transform 100ms;
}
.app_subsectionButton:hover:after{
    opacity: 1;
}
.app_subsectionButton:focus:after {
    display:inline-block;
    transform: rotate(90deg);
    opacity: 1;
}



.mp_listLink:after {
    position: absolute;
    content: "❯";
    margin-left: 15px;
    opacity: 0;
    transition: opacity 100ms;
}
.mp_listLink:hover:after{
    opacity: 1
}
/* .ep_section {
    padding: 10px;
} */

.force_accent_color {
    color: var(--color-accent);
}

.force_normal_font {
    font-weight: 400;
}

.force_thin_font {
    font-weight: 200;
}

.force_top {
    align-items: flex-start;
}

#mp_content_text {
    display: flex;
    width: 42vw;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

#mp_content_img {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: calc(100% - 42vw);
}
#mp_content_img img {
    max-width: 30vw;
    max-height: 70vh;
}


.ep_section .app_text {
    font-size: 1.25vw;
    color: var(--color-accent);
    padding-left: 5px;
}

@media screen and (max-width: 1500px){
    .app_page{
        /* width: calc(100% - 30px); */
        width: 75%;
        align-items: flex-start;
    }
    .app_header{
    /*text-align: justify;*/
    /*text-justify: inter-word;*/
    font-size: 6.5vw;
    }
    .app_des{
        font-size: 1vw;
    }
    .app_text{
        font-size: 2vw;
    }
    .app_subHeader{
        font-size: 3.25vw;
    }

    .app_list li{
        font-size: 2vw;
    }
    .mp_listLink {
        display: inline-block;
        margin-bottom: 2vh;
    }

    .ep_section{
        padding: unset;
    }

    .ep_section .app_text {
        font-size: 3vw;
    }
    .des_hideable{
        display: none;
    }

    #mp_content_text{
        width: 100%;
    }
    #app_mainPage {
        width: calc(100% - 30px);

    }

}


@media screen and (max-width: 1000px) {
    .app_header {
        font-size: 10vw;
    }
    .app_subHeader{
        font-size: 5vw;
    }
    .app_des{
        font-size: 1.5vw;
    }
    .app_text{
        font-size: 2.25vw;
    }
    .app_des {
        font-size: 3vw;
        align-self: flex-start;
        margin-bottom: 10px;
    }
    .app_text{
        font-size: 3.5vw;
    }
    .app_list li {
        font-size: 2.5vw;
    }
    .ep_section {
        margin-top: -20px;
    }
    .header_hideable{
        display: none;
    }

    .ep_section .app_text {
        font-size: 4vw;
    }

    #mp_content_img {
        display: flex;
        flex-flow: column;
        align-items: center;
        width:250px;
    }
    #mp_content_img img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        object-fit: cover;
        object-position: 0 0%;
    }
    #mp_content_img .app_des{
        display: none;
    }
}

@media screen and (max-height: 500px){
    #mp_content_img{
        align-self: center;
    }

}

