@charset "utf-8";
/* JESUS CHRIST SAVE MY SOUL*/
/*Animations */
@keyframes hover{
	0%{
		color:#000;
		background-color: #ffb84d;
	}
	
	100% {
		color: #fff;
		background-color: hsla(0,0%,100%,0.50);
	}
}
@keyframes onClick {
	0% {
		background-color: hsla(0,0%,100%,0.50);
		border-radius: 100%;
	}
	
	30% {
		background-color: #ffb84d;
		border-radius: 0%;
	}
	
}


/*General Purpose*/
*{
	margin:0;
	padding:0;
}
div.header{
	width: 100%;
	height: auto;
	background-color: #ffb84d;
	font-size: 45px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Roboto Slab', serif;
	color:#000;
    box-shadow:  0 4px 4px .5px rgba(0,0,0,0.1);
}

/*Nav Bar*/

div .navbar ul {
	
    list-style-type: none;
    overflow: hidden;
}

div .navbar li {
    float: left;
}

div .navbar li a {
    display: block;
    color: #000000;
    text-align: center;
	border-radius: 2px;
    font-size: 14px;
	padding: 14px 16px;
    text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	
}

div .navbar li a:hover {
	animation-name: hover;
	animation-duration: .25s;
	color: #fff;
	background-color: hsla(0,0%,100%,0.50);
}

div .navbar li:active {
    animation-name: onClick;
    animation-duration: 1s;	
}



/*body nonsense*/
body {
	background-color:#ECECEC;
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	text-align: left;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	height:100%
}

body div.divider{
	margin-top: 15px;
}

body div.headerTextBox {
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 1px 1px 4px .5px rgba(0,0,0,0.1);
	padding: 10px ;
	width:90%;
	height: auto;
	background-color: #fff;
	color:#000;
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	
}


body div.noImgTextBox {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    box-shadow:  1px 4px 4px .5px rgba(0,0,0,0.1);
	padding: 10px;
	width:90%;
	height: auto;
	background-color: #fff;
	color:#000;
	
}

body div.imgTextBox {
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    box-shadow:  1px 4px 4px .5px rgba(0,0,0,0.1);
	padding: 10px;
	width:90%;
	height: auto;
	background-color: #fff;
	color:#000;
	
	
}

body div.imgTextBox img {
	height: 15%;
	width: 15%;
	margin: 5px;
}

body div.imgTextBox span {
	display: block;
	margin-top: 10px;
	background-color: #ffb84d;
	font-family: 'Open Sans';
	padding:5px;
	width: 5%;
	height: auto;
	text-align: center;
}

body div.imgTextBox span:hover{
	background-color: #fff;
}

body div.imgTextBox img.special{
	height: 88px;
	width: 93px;
}


footer {
	position:absolute;
   	bottom:0px;
   	height:auto;
}










