@charset "utf-8";
/* JESUS CHRIST SAVE MY SOUL*/
/*Animations */
@keyframes hover{
	0%{
		color:#000;
		background-color: #ffb84d;
	}
	
	100% {
		color: #fff;
		background-color: hsla(0,0%,100%,0.50);
	}
}
@keyframes onClick {
	0% {
		background-color: hsla(0,0%,100%,0.50);
		border-radius: 500px;
	}
	
	25% {
		border-radius:10px;
	}
	
	30% {
		background-color: #ffb84d;
		border-radius: 0px;
	}
	31% {
		background-color: hsla(0,0%,100%,0.60);
		border-radius: 75px;
	}
	
	50% {
		border-radius:10px;
	}
	
	55% {
		background-color: #ffb84d;
		border-radius: 0px;
	}
	56% {
		background-color: hsla(0,0%,100%,0.70);
		border-radius: 50px;
	}
	
	75% {
		border-radius:5px;
	}
	
	100% {
		background-color: #ffb84d;
		border-radius: 0px;
	}
	
}


/*General Purpose*/
*{
	margin:0;
	padding:0;
}
div{
	width: 100%;
	height: auto;
	background-color: #ffb84d;
	font-size: 45px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Roboto Slab', serif;
	color:#000;
	
}
.shadow {
	box-shadow: 2px 1.5px 5px 5px #303030;
}
/*Nav Bar*/

div .navbar ul {
	
    list-style-type: none;
    overflow: hidden;
}

div .navbar li {
    float: left;
}

div .navbar li a {
    display: block;
    color: #000000;
    text-align: center;
    font-size: 14px;
	padding: 14px 16px;
    text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	
}

div .navbar li a:hover {
	animation-name: hover;
	animation-duration: .25s;
	color: #fff;
	background-color: hsla(0,0%,100%,0.50);
}

div .navbar li:active {
    animation-name: onClick;
    animation-duration: 1s;	
}



/*body nonsense*/
body {
	background-color:#ECECEC;
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	text-align: left;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	height:100%
}

body div.divider{
	margin-top: 15px;
}

body div.headerTextBox {
	margin-left: auto;
	margin-right: auto;
	padding: 10px ;
	width:90%;
	height: auto;
	background-color: #fff;
	color:#000;
	font-family: 'Roboto Slab', serif;
	font-size: 45px;
	
}


body div.noImgTextBox {
	/*margin-bottom: 15;*/
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width:90%;
	height: auto;
	background-color: #fff;
	color:#000;
	
}

body div.imgTextBox {
	/*margin-bottom: 15;*/
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width:90%;
	height: auto;
	background-color: #fff;
	color:#000;
	text-size:20px;
	
}

body div.imgTextBox img {
	height: 15%;
	width: 15%;
	margin: 5px;
}

body div.imgTextBox span {
	display: block;
	margin-top: 10px;
	background-color: #ffb84d;
	font-family: 'Open Sans';
	padding:5px;
	width: 5%;
	height: auto;
	text-align: center;
}

body div.imgTextBox span:hover{
	background-color: #fff;
}






footer {
	position:absolute;
   	bottom:0px;
   	height:auto;
}










